
/*
browser-sync start --server --files "**/*.css, **/*.html"
browser-sync start --server --files "**"
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

body {
	min-width: 640px;
	margin: 0;
	font: 14px/24px Arial,Helvetica,sans-serif;
	letter-spacing:.5px;
	color: #333;
}
nav {
	display: flex;
	align-items: center;
	height: 50px;
	background: #317BE1;
	color: #fff;
}
nav a {
	color: #fff;
	text-decoration: none;
}

.home-nav {
	height: 80px;
}
.home-logo {
	padding-left: 30px;
}
.home-logo a {
	font-weight: 600;
	font-size: 26px;
}

.empty {
	flex: 1;
}

.login {
	display: flex;
}
.login form {
	padding-right: 30px;
}
.login label {
	display: inline-block;
	padding-right: 7px;
}
label input {
	padding-left: 5px;
}
.login input {
	border: none;
	border-radius: 1px;
	height: 18px;
}
.login-btn {
	background: #A0C6F6;
	font-size: 13px;
	padding: 0 6px;
}

.home-container {
	position: absolute;
	width: 100%;
	min-width: 640px;
}

.row {
	display: inline-block;
	vertical-align: top;
}
.col-1-3 {
	width: 33.33%;
}

/*
.col-2-3 {
	position: relative;
	width: 66.66%;
	min-height: 500px;
	font-weight: 600;
}
.col-2-3 section {
	position: absolute;
	display: inline-block;
	width:500px;
	height: 180px;
	top: 50%;
	left: 50%;
	margin: -90px 0 0 -250px;
}
*/

.col-2-3 {
	width: 66.66%;
}
.col-2-3 section {
	width: 500px;
	margin: 60px auto;
}
.col-2-3 li {
	font-weight: 500;
	line-height: 2.5;
}

.col-1-3 form {
	width:300px;
	margin:20px auto;
}
.col-1-3 h1,
.col-1-3 h4 {
	font-weight: 500;
}
.col-1-3 h4 {
	margin: 0;
}
.col-1-3 input {
	border:2px solid #ccc;
	margin-bottom: 10px;
	padding-left: 5px;
}
.half {
	width: 130px;
}
input.half:first-child,
.col-1-3 form > label{
	margin-right: 9px;
}
.full-input input {
	width: 275px;
}
.sign-up-btn {
	padding: 5px;
	width: 285px;
	background: #2B9C20;
	color: #eee;
	font-size: 14px;
}

/*
=================================================
About
=================================================
*/

/*
.logo,
.search,
.user-info {
	display: inline-block;
}
.logo {
	float: left;
	padding-left: 7.5%;
}
.logo img {
	height: 50px;
	vertical-align: middle;
}
.logo h2 {
	display: inline-block;
	margin: 0;
	padding: 0
	font-size: 20px;
	font-weight: 400;
}
.search {
	height:50px;
}
.search input {
	width: 100%;
	margin: auto;
	padding-left: 10px;
}
.user-info {
	float: right;
	padding-right: 7.5%;
	line-height: 50px;
}
*/

.logo {
	padding-left: 7.5%;
}
.logo img {
	height: 50px;
	vertical-align: middle;
}
.logo h2 {
	display: inline-block;
	margin: 0;
	padding: 0
	font-size: 20px;
	font-weight: 400;
}

.search {
	flex: 1;
	margin: 0 30px;
}
.search input {
	padding-left: 10px;
	width: 100%;
}

.user-info {
	padding-right: 7.5%;
	line-height: 50px;
}

.top-background,
.top-image,
.top-nav {
	box-sizing: border-box;
}
.top-background {
	display: relative;
}
.top-image {
	width: 100%;
	height: 300px;
	border: 2px solid #666;
	background: #eee;
}

.user-position {
	position: absolute;
	top: 260px;
	left: 150px;
}
.user-image img {
	width: 100px;
	height: 125px;
	vertical-align: middle;
}
.user-image h3 {
	display: inline-block;
	padding-left: 10px;
}

/*
.top-nav {
	height: 50px;
	line-height: 50px;
	border: 2px solid #333;
	border-top: none;
}
.top-nav ul {
	display: inline-block;
	padding-left: 200px;
	margin: 0;
}
.top-nav li {
	display: inline-block;
	border-right: 2px solid #333;
	padding: 0 10px;
}
.top-nav .li-one {
	border-left: 2px solid #333;
	border-right: none;
}
.top-nav .fix-li {
	border-left: 2px solid #333;
}
.top-nav .li-three {
	border-right: none;
}
.nav-focus {
	border-left: 2px solid #333;
	background: #eee;
}
.top-edit {
	display: inline-block;
	float: right;
	padding-right: 15px;
}
*/

.top-nav {
	display: table;
	border-collapse: collapse;
	width: 100%;
	line-height: 50px;
	border: 2px solid #333;
	border-top: none;
}
.top-nav ul {
	padding-left: 200px;
	margin: 0;
}
.top-nav li {
	display: table-cell;
	border: 2px solid #333;
	border-top: none;
	border-bottom: none;
	padding: 0 10px;
}
.top-nav li a {
	text-decoration: none;
	color: #333;
}
.nav-focus {
	background: #eee;
}
span {
	color: #bbb;
	padding-left: 5px;
}
.top-edit {
	display: table-cell;
	padding-right: 15px;
	text-align: right;
}
.top-edit a,
.friends-info a {
	color: #2B78E4;
}

.main-head {
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	background: #eee;
	border: 2px solid #333;
	border-bottom: none;
}
.main-head h2 {
	display: inline-block;
	margin: 0;
	padding-left: 45%;
	line-height: 50px;
	text-align: center;
}
.main-head input {
	float: right;
	margin-top: 9px;
	margin-right: 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 2px;
	background: #307EE0;
	color: #eee;
	font-size: 13px;
}

.main-container {
	width: 85%;
	margin: 0 auto;
}

.main-content {
	border: 2px solid #333;
	margin-bottom: 60px;
}
.content-empty {
	padding-bottom: 60px;
}
.col-1-3 table {
	width: 330px;
	margin: 0 auto;
	padding-top: 20px;
	line-height: 2;
}
.main-content th {
	text-align: left;
}

/*
=================================================
Friends
=================================================
*/

.col-1-2 {
	width: 50%;
	padding-bottom: 10px;
}

.friends-info {
	border: 2px solid #333;
	margin: 20px;
	display: flex;
	align-items: center;
}
.left-empty .friends-info {
	margin-right: 10px;
}
.right-empty .friends-info {
	margin-left: 10px;
}
.friends-info img {
	height: 100px;
	margin: 10px;
	margin-left: 20%;
}
.friends-info div {
	margin: 10px;
}
.friends-info input {
	margin-left: 20px;
	padding: 3px 10px;
	background: #ddd;
	border: none;
	border-radius: 2px;
}

/*
=================================================
Newsfeed
=================================================
*/

.feed-container {
	width: 100%;
	margin: 0;
}
.feed-container a {
	color: #1765bc;
}
.col-1-4 {
	box-sizing: border-box;
	width: 25%;
}
.row-space {
	width: 90%;
	margin: 40px auto;
}
.col-1-4 .user-image {
	width: 290px;
	margin: 0 auto;
}
.col-1-4 .user-name {
	display: inline-block;
	width: 60%;
	padding-left: 10px;
}

.rencently-active {
	width: 90%;
	margin: 10px auto;
}
.post-info {
	margin-left: 10%;
	margin-top: 10px;
}
.comment-head img,
.post-head img,
.post-info img {
	width: 60px;
	height: 80px;
	vertical-align: middle;
}

.col-3-4 {
	box-sizing: border-box;
	width: 75%;
	border-left: 2px solid #333;
}
.write-post {
	width: 90%;
	margin: 0 auto;
	border: 2px solid #333;
}
.write-post h4 {
	text-align: center;
	background: #F5F5F4;
	margin-top: 0;
	padding: 5px;
	border-bottom: 2px solid #333;
}
.write-post textarea {
	width: 95%;
	margin-left: 2.5%;
	border: 2px solid #333;
	margin-bottom: 20px;
	padding: 10px;
}
.write-post div {
	border-top: 2px solid #333;
	background: #F5F5F4;
}
.write-post input {
	margin: 10px 0;
	margin-left: 90%;
}
.submit-btn {
	padding: 4px 14px;
	background: #2F7BE8;
	color: #eee;
	font-size: 14px;
}

.post {
	border: 2px solid #333;
	width: 90%;
	margin: 40px auto;
	font-size: 14px;
}
.post p {
	padding: 10px;
	margin: 0;
}
.post .comment a:first-child {
	padding-right: 10px;
}
.post-head {
	padding: 10px;
}
.post-head div {
	display: inline-block;
	font-size: 14px;
}
.comment {
	padding: 10px;
	background: #eee;
	border-top: 2px solid #333;
}
.comment p {
	padding: 0;
	padding-top: 10px;
}
.delete-btn {
	float: right;
}
.comment-content {
	padding: 10px 0;
}
.comment-content p {
	padding-bottom: 10px;
}
.write-comment textarea {
	width: 100%;
	border: 2px solid #333;
	margin-top: 20px;
	padding: 10px;
}
.write-comment .left-a {
	margin-top: 5px;
	float: left;
}
.write-comment input {
	margin-top: 5px;
	margin-left: 85%;
	font-size: 12px;
}
